<launch>
  <node name="align_bag" type="align_bag.py" pkg="misc_bag_utils">
    <param name="input_file_name" value="" />
    <param name="imu_topic" value="" />

    <param name="align_odom" value="true" />
    <param name="num_odom" value="3" />
    <param name="odom_topic1" value="" />
    <param name="odom_topic2" value="" />
    <param name="odom_topic3" value="" />

    <param name="align_camera" value="false" />
    <param name="imu_camera_dt" value="" />
    <param name="left_camera_topic" value="" />
    <param name="right_camera_topic" value="" />
  </node>
</launch>
